<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Error</title>
</head>
<body class="bg-light">
<div class="container mt-5" align="center">
    <div class="alert alert-success text-center">
        <h3>Something went wrong</h3>
        <span th:text="${status}" class="display-1"></span>
    </div>
    <div class="home text-center pt-1">
        <a th:href="@{/translate/}" class="btn btn-primary w-30">Home</a>
    </div>
</div>
</body>
</html>