<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>History</title>
</head>
<body class="bg-light">
<div class="container text-center mt-5">
    <div class="tablecontainer">
        <h3 class="mb-5">Convertion history</h3>
        <table style="width:100%" border="3" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Id</th>
                <th>Creation time</th>
                <th>Wrong</th>
                <th>Right</th>
                <th><a th:href="@{/translate/delete}" class="btn btn-danger w-50">
                    Delete all</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pojo:${allList}">
                <td th:text="${pojo.id}"></td>
                <td th:text="${pojo.localDateTime}"></td>
                <td th:text="${pojo.wrongString}"></td>
                <td th:text="${pojo.rightString}"></td>
                <td><a th:href="@{/translate/deleteNote/{id}(id=${pojo.id})}" class="btn btn-danger w-30">remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="backbtn mt-5">
        <a th:href="@{/translate/}" class="btn btn-primary">Back</a>
    </div>
</div>
</body>
</html>